<p-listbox [options]="casas" [(ngModel)]="casaSelecionada" optionLabel="cor" optionValue="id"></p-listbox>

<br>

<button pButton type="button" label="Nova" (click)="navegarParaDetalhes()"></button>

<button pButton type="button" label="Editar" (click)="editar()"></button>