<span class="p-float-label">
    <input id="float-input" [(ngModel)]="corCasa" type="text" pInputText> 
    <label for="float-input">Cor</label>
</span>
<br>
<button pButton type="button" label="Salvar" (click)="salvar()"></button>

<button pButton type="button" label="Voltar" (click)="voltar()"></button>